body{
  background: linear-gradient(rgb(3, 138, 156) , transparent);
  background-repeat: no-repeat;
}


.image-container {
	position: relative;
	transition: transform 0.7s;
	flex-wrap: wrap;
}

.image-container:hover {
	cursor: pointer;
	
	
}

.form-control{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 500;
  font-size: .8vw;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  max-width: 190px;
  transition: .4s;
}
.form-control:hover{
	border: 2px solid lightgrey;
	box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.overlay {
	position: absolute;
	background: rgba(255, 0, 0, 0.8);
	color: aliceblue;
	width: 16%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 17px;
	padding: 20px;
	text-align: center;
}